<!doctype html>
<html lang="en-UK">

<head>
    <meta charset="utf-8" />
    <title>Associated library entry list for {{ register.name }}</title>
</head>

<body>

    <h1>{{ register.name }}</h1>
    <p>{{ register.start_date }} - {{ register.end_date }}</p>
    <p>{{ register.pages }} pages</p>
    <p>{{ register.file }}</p>
    <h1>Associated Library Entries:</h1>
    <p>
    <ul>
        {% for entry in library_entries %}
        <li> {{ entry }}</li>
        {% endfor %}
    </ul>
    </p>
</body>

</html>
