<!doctype html>
<html lang="en-UK">

<head>
    <meta charset="utf-8" />
    <title>Entry list for {{ register.register_name }}</title>
</head>

<body>

    <h1>{{ register.register_name }}</h1>
    <p>{{ register.register_start_date }} - {{ register.register_end_date }}</p>
    <p>{{ register.register_pages }} pages</p>
    <p>{{ register.register_file }}</p>
    <h1>Register Entries:</h1>
    <p>
    <ul>
        {% for entry in entries %}
        <li> {{ entry }}</li>
        {% endfor %}
    </ul>
    </p>
</body>

</html>
