<!doctype html>
<html lang="en-UK">

<head>
    <meta charset="utf-8" />
    <title>Match list for {{ register.name }}</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px
    }
    td {
        text-align: center;
    }
</style>

<body>

    <h1>{{ register.name }}</h1>
    <p>{{ register.start_date }} - {{ register.end_date }}</p>
    <p>{{ register.pages }} pages</p>
    <p>{{ register.file }}</p>
    <h1>Register Matches:</h1>
    <p>
    <table>
        <tr>
            <th> Register Entry </th>
            <th> Library Entry </th>
            <th> Source Library </th>
            <th> Match Type </th>
            <th> Confirmed </th>
        </tr>
        {% for entry in matches %}
        <tr>
            <td>{{ entry.register_entry }}</td>
            <td>{{ entry.library_entry }}</td>
            <td>{{ entry.library_entry.get_source_library_display }}</td>
            <td>{{entry.get_match_type_display }}</td>
            <td>{{ entry.register_entry.match_confirmed }}</td>
        </tr>
        {% endfor %}
        </p>
</body>

</html>
