<!doctype html>
<html lang="en-UK">

<head>
    <meta charset="utf-8" />
    <title>Register Details</title>
</head>

<body>

    <h1>{{ register.name }}</h1>
    <p>{{ register.start_date }} - {{ register.end_date }}</p>
    <p>{{ register.pages }} pages</p>
    <p>{{ register.file }}</p>
    <h1>Entries:</h1>
    <p>
    <ul>
        <li>Total entries: <a href="{% url 'stationers:entry_list' register.id %}"> {{ n_entries }}</a></li>
        <li>Associated library entries: <a href="{% url 'stationers:library_entry_list' register.id %}"> {{ n_library_entries }}</a></li>
        <li>Total matches: <a href="{% url 'stationers:match_list' register.id %}"> {{ n_matches }}</a></li>
    </ul>
    </p>
</body>

</html>
